version: "3.9"

services:
  frontend:
    image: "film_frontend" # образ будет называться film_frontend
    env_file: ./frontend/.env # в окружение контейнера попадут переменные из файла .env
    build: 
      context: ./frontend # директория сборки (контекст)
    volumes:
      - frontend-dist:/usr/src/app/dist
    networks:
      - app-network

  nginx:
    image: "film_nginx" # образ будет называться film_nginx
    build:
      context: ./nginx
    volumes:
      - frontend-dist:/usr/share/nginx/html
    ports:
      - "8080:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  frontend-dist:
